# ignore compile
*.pyc
# directory
/.build
/.doc
/.documents
/.launch
/.pycharm
/.startup
/.trash
# base lib
/source/qsm_lib/bin
/source/qsm_lib/lib
/source/qsm_lib/resources/executes
# dcc lib
/source/qsm_maya_lib/lib
/source/qsm_houdini_lib/lib
/source/qsm_katana_lib/lib
/source/qsm_ue_lib/lib
