# ignore compile
*.pyc
# IDE
/.pycharm
/.idea
# local
/.build
/.doc
/.documents
/.launch
/.startup
/.trash
# base lib
/source/qsm_lib/bin
/source/qsm_lib/lib
/source/qsm_lib/resources/executes
# maya
/source/qsm_maya_lib/lib
/source/qsm_maya_main/resources/rig
# houdini
/source/qsm_houdini_lib/lib
# katana
/source/qsm_katana_lib/lib
/source/qsm_ue_lib/lib
# server
/source/qsm_server/lib
