#usda 1.0
(
    defaultPrim = "{{ dcc.root_name }}"
    metersPerUnit = 0.01
    upAxis = "Y"
)

def "{{ dcc.root_name }}" (
    prepend references = [
        @{{ geometries.hi }}@,
        @{{ geometries.shape }}@,
        # @{{ geometries.hair }}@,
        # @{{ usdas.proxy }}@,
    ]
)
{
    over "hi" (
        kind = "subcomponent"
    )
    {
        uniform token purpose = "render"
    }

    over "hair" (
        kind = "subcomponent"
    )
    {
    }

    over "shape" (
        active = false
        kind = "subcomponent"
    )
    {
    }
}
