#usda 1.0
(
    defaultPrim = "{{ dcc.root_name }}"
    metersPerUnit = 0.01
    upAxis = "Y"
)

over "{{ dcc.root_name }}" (
    variants = {
        string pass = "{{ look.passes[0] }}"
    }
    prepend variantSets = "pass"
)
{
    def Xform "look" ()
    {
        uniform token purpose = "render"
        {{ 'asset userProperties:klfPath = @../../look/klf/%s.klf@' | format(asset) }}
    }
    variantSet "pass" = {
{% for i_look_pass in look.passes -%}
    {{- '%s"%s" (' | format(option.indent*2*' ', i_look_pass) -}}
    {{- option.linesep -}}
    {{- '%sreferences = @look.%s.properties.usda@' | format(option.indent*3*' ', i_look_pass) -}}
    {{- option.linesep -}}
    {{- '%s) {}' | format(option.indent*2*' ') -}}
    {%- if not loop.last -%}
        {{- option.linesep -}}
    {%- endif -%}
{%- endfor %}
    }
}