#ArchiveGroup 0 name="{{ name }}" description="" thumbnail="{{ jpg_file }}" color=[{{ color[0] }},{{ color[1] }},{{ color[2] }}]
0 "{{ gpu_files[0] }}"
1 "{{ gpu_files[1] }}"
2 "{{ gpu_files[2] }}"
3 "{{ ass_files[0] }}"
4 "{{ ass_files[1] }}"
5 "{{ ass_files[2] }}"