#usda 1.0
(
    defaultPrim = "{{ dcc.root.name }}"
    metersPerUnit = 0.01
    upAxis = "Y"
)

def "{{ dcc.root.name }}" (
    prepend references = [
{% for i in elements -%}
    {{- '        @%s@' | format(i.file) -}}
    {%- if not loop.last -%}
        {{- ',\n' -}}
    {%- endif -%}
{%- endfor %}
    ]
)
{
    over "aux" (
        active = false
    )
    {
    }

    over "proxy" (
    )
    {
        uniform token purpose = "proxy"
    }
}
