#usda 1.0
(
    defaultPrim = "{{ dcc.root_name }}"
    metersPerUnit = 0.01
    upAxis = "Y"
)

over "{{ dcc.root_name }}" (
    assetInfo = {
        string project = "{{ project }}"
        string role = "{{ role }}"
        string asset = "{{ asset }}"
        string step = "{{ step }}"
        string task = "{{ task }}"
        string version = "{{ version }}"
        string asset_shot = "{{ asset_shot }}"
    }
)
{
    over "chr"
    {
        over "nn_4y_test" (
            prepend references = @cgm/publish/assets/chr/nn_4y_test/set/registry/nn_4y_test.set.registry/cache/usd/nn_4y_test.usda@
        )
        {
        }
    }
}
