#usda 1.0
(
    defaultPrim = "{{ asset_root_name }}"
    startTimeCode = {{ shot.start_frame }}
    endTimeCode = {{ shot.end_frame }}
    upAxis = "Y"
)

def Xform "{{ camera.root_name }}" (
    kind = "component"
    prepend references = {{ '@%s@<%s>' | format(shot.set_file, camera.path) }}
)
{
}