<katana release="4.5v4" version="4.5.1.000008">
  <node name="__SAVE_exportedNodes" type="Group">
{%- for i_variants in images %}
    <node baseType="ArnoldShadingNode" edited="true" name="{{ i_variants.name }}" ns_colorb="{{ i_variants.color_b }}" ns_colorg="{{ i_variants.color_g }}" ns_colorr="{{ i_variants.color_r }}" ns_collapsedPages="Parameters##BUILTIN | " ns_expandedPages="" ns_fromContext="networkMaterial" ns_viewState="2.0" selected="false" type="ArnoldShadingNode" x="{{ i_variants.position_x }}" y="{{ i_variants.position_y }}">
      <port name="filename" type="in">
        <metadata>
          <entry key="parameterIndex" value="1"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port name="color_space" type="in">
        <metadata>
          <entry key="parameterIndex" value="2"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port name="filter" type="in">
        <metadata>
          <entry key="parameterIndex" value="9"/>
          <entry key="page" value="Sampling"/>
        </metadata>
      </port>
      <port name="mipmap_bias" type="in">
        <metadata>
          <entry key="parameterIndex" value="10"/>
          <entry key="page" value="Sampling"/>
        </metadata>
      </port>
      <port name="single_channel" type="in">
        <metadata>
          <entry key="parameterIndex" value="24"/>
          <entry key="page" value="Channels"/>
        </metadata>
      </port>
      <port name="start_channel" type="in">
        <metadata>
          <entry key="parameterIndex" value="25"/>
          <entry key="page" value="Channels"/>
        </metadata>
      </port>
      <port name="swrap" type="in">
        <metadata>
          <entry key="parameterIndex" value="11"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="twrap" type="in">
        <metadata>
          <entry key="parameterIndex" value="12"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="sscale" type="in">
        <metadata>
          <entry key="parameterIndex" value="15"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="tscale" type="in">
        <metadata>
          <entry key="parameterIndex" value="16"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="sflip" type="in">
        <metadata>
          <entry key="parameterIndex" value="17"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="tflip" type="in">
        <metadata>
          <entry key="parameterIndex" value="18"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="soffset" type="in">
        <metadata>
          <entry key="parameterIndex" value="13"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="toffset" type="in">
        <metadata>
          <entry key="parameterIndex" value="14"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="swap_st" type="in">
        <metadata>
          <entry key="parameterIndex" value="19"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="uvcoords" type="in">
        <metadata>
          <entry key="parameterIndex" value="20"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="uvcoords.x" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="21"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="uvcoords.y" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="22"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="uvset" type="in">
        <metadata>
          <entry key="parameterIndex" value="23"/>
          <entry key="page" value="Coordinates"/>
        </metadata>
      </port>
      <port name="multiply" type="in">
        <metadata>
          <entry key="parameterIndex" value="26"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="multiply.r" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="27"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="multiply.g" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="28"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="multiply.b" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="29"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port name="offset" type="in">
        <metadata>
          <entry key="parameterIndex" value="30"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="offset.r" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="31"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="offset.g" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="32"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="offset.b" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="33"/>
          <entry key="page" value="Output"/>
        </metadata>
      </port>
      <port name="ignore_missing_textures" type="in">
        <metadata>
          <entry key="parameterIndex" value="3"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port name="missing_texture_color" type="in">
        <metadata>
          <entry key="parameterIndex" value="4"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="missing_texture_color.r" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="5"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="missing_texture_color.g" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="6"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="missing_texture_color.b" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="7"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port color="0.2471 0.3686 0.5725" name="missing_texture_color.a" type="in">
        <tags>
          <tag name="float or rgb or rgba or vector or vector2"/>
        </tags>
        <metadata>
          <entry key="parameterIndex" value="8"/>
          <entry key="page" value="File"/>
        </metadata>
      </port>
      <port name="out" type="out">
        <tags>
          <tag name="rgba"/>
        </tags>
      </port>
      <port color="0.2471 0.3686 0.5725" name="out.r" type="out">
        <tags>
          <tag name="float"/>
        </tags>
      </port>
      <port color="0.2471 0.3686 0.5725" name="out.g" type="out">
        <tags>
          <tag name="float"/>
        </tags>
      </port>
      <port color="0.2471 0.3686 0.5725" name="out.b" type="out">
        <tags>
          <tag name="float"/>
        </tags>
      </port>
      <port color="0.2471 0.3686 0.5725" name="out.a" type="out">
        <tags>
          <tag name="float"/>
        </tags>
      </port>
      <group_parameter name="{{ i_variants.name }}">
        <string_parameter name="name" value="{{ i_variants.name }}"/>
        <string_parameter name="nodeType" value="image"/>
        <string_parameter name="__lastValue" value="4titv2uya7lbnd7ujk2x722ruafxlh5yl5nl6q4qsvqtzfcaa3ciFalse"/>
        <string_parameter name="__showHiddenParams" value="False"/>
        <group_parameter name="parameters">
          <group_parameter name="filename">
            <number_parameter name="enable" value="1"/>
            <string_parameter name="value" value="{{ i_variants.file }}"/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="color_space">
            <number_parameter name="enable" value="0"/>
            <string_parameter name="value" value="auto"/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="ignore_missing_textures">
            <number_parameter name="enable" value="1"/>
            <number_parameter name="value" value="1"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="missing_texture_color">
            <number_parameter name="enable" value="0"/>
            <numberarray_parameter name="value" size="4" tupleSize="4">
              <number_parameter name="i0" value="0"/>
              <number_parameter name="i1" value="0"/>
              <number_parameter name="i2" value="0"/>
              <number_parameter name="i3" value="0"/>
            </numberarray_parameter>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="filter">
            <number_parameter name="enable" value="0"/>
            <string_parameter name="value" value="3"/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="mipmap_bias">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="swrap">
            <number_parameter name="enable" value="0"/>
            <string_parameter name="value" value="0"/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="twrap">
            <number_parameter name="enable" value="0"/>
            <string_parameter name="value" value="0"/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="soffset">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="toffset">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="sscale">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="1"/>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="tscale">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="1"/>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="sflip">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="tflip">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="swap_st">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="uvcoords">
            <number_parameter name="enable" value="0"/>
            <numberarray_parameter name="value" size="2" tupleSize="2">
              <number_parameter name="i0" value="0"/>
              <number_parameter name="i1" value="0"/>
            </numberarray_parameter>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="uvset">
            <number_parameter name="enable" value="0"/>
            <string_parameter name="value" value=""/>
            <string_parameter name="type" value="StringAttr"/>
          </group_parameter>
          <group_parameter name="single_channel">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="start_channel">
            <number_parameter name="enable" value="0"/>
            <number_parameter name="value" value="0"/>
            <string_parameter name="type" value="IntAttr"/>
          </group_parameter>
          <group_parameter name="multiply">
            <number_parameter name="enable" value="0"/>
            <numberarray_parameter name="value" size="3" tupleSize="3">
              <number_parameter name="i0" value="1"/>
              <number_parameter name="i1" value="1"/>
              <number_parameter name="i2" value="1"/>
            </numberarray_parameter>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="offset">
            <number_parameter name="enable" value="0"/>
            <numberarray_parameter name="value" size="3" tupleSize="3">
              <number_parameter name="i0" value="0"/>
              <number_parameter name="i1" value="0"/>
              <number_parameter name="i2" value="0"/>
            </numberarray_parameter>
            <string_parameter name="type" value="FloatAttr"/>
          </group_parameter>
          <group_parameter name="__unused"/>
        </group_parameter>
        <group_parameter name="publicInterface">
          <string_parameter name="namePrefix" value=""/>
          <string_parameter name="pagePrefix" value=""/>
          <string_parameter name="nameRegExFind" value=""/>
          <string_parameter name="nameRegExReplace" value=""/>
          <string_parameter name="pageRegExFind" value=""/>
          <string_parameter name="pageRegExReplace" value=""/>
        </group_parameter>
        <string_parameter name="forceRefresh" value=""/>
      </group_parameter>
    </node>
{%- endfor %}
  </node>
</katana>